# Ignore folders and its contents
/bin/
/Include/
/Lib/
/Scripts/
/share/
/-v/
/_check/
/venv/
/.vscode/
**/__pycache__/

# Ignore files but not folders
__file_test/*
!__file_test/.gitkeep

__result/*
!__result/.gitkeep

# Ignore files with extension
.cfg

# Ignore .env files (but not .env.example)
!.env.example
.env

# Ingore specific files
config/config.json
start.sh